body {
     background-repeat: repeat;
     background-size: cover;
     background-image: linear-gradient(rgba(0, 0, 0, 0.151), rgba(0, 0, 0, 0.383)), url("../img/hatter.jpg");
     
   }
   
   main {
     margin-left: 7%;
     margin-right: 7%;
     margin-top: 5%;
     background-color: rgba(255, 255, 255, 0.7);
     background-size: contain;
   }
   
   header {
     background-color: rgb(255, 255, 255);
     height: 70px;
     box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);  
   }
   
   ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     list-style-type: none;
     position: -webkit-sticky; 
     position: sticky;
     top: 0;   
   }
      
   li {
     float: left;
     list-style-type: none;
     font-size: 30px;
   }
      
   li a {
     display: block;
     color: rgb(0, 0, 0);
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     list-style-type: none;
   }
      
   li a:hover:not(.active) {
     background-color: rgb(50,205,50);
     list-style-type: none;
     color: white;
   }

  .maingomb {
    overflow: hidden;
    float: right;
   }

   .maingomb img{
    resize: both;
    height: 45px;
    width: 45px;
   }

   .maingomb img:hover{
    resize: both;
    height: 45px;
    width: 45px;
   }