
img {
  border-radius: 50%;
  border: 10px solid white;
  box-shadow: 0 0 8px rgba(0,0,0,.4);
  -moz-box-shadow: 0 0 8px rgba(0,0,0,.4);
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,.4);
  float: left;
  width: 300px;
  margin-left: 7%;
  margin-top: 5%;
}

#cim {
  text-align: center;
  padding-bottom: 1%;
  
  
}
@media screen and (max-width: 575px) {
  #cim {
    font-size: 40px;
  }
}

@media screen and (min-width: 576px) {
  #cim {
    font-size: 40px;
  }
}

@media screen and (min-width: 768px) {
  #cim {
    font-size: 80px;
  }
}

@media screen and (min-width:  992px) {
  #cim {
    font-size: 80px;
  }
}


.container {
  position: relative;
}

.nev1 {
  position: absolute;
  top: 30%;
  left: 17.5%;
  
}

.nev2 {
  position: absolute;
  top: 30%;
  left: 35%;
  
}

.nev3 {
  position: absolute;
  top: 30%;
  left: 53%;
  
}
.nev4 {
  position: absolute;
  top: 30%;
  left: 71.5%;
  
}

.nev5 {
  position: absolute;
  top: 70%;
  left: 17.5%;
}

.cim1 {
 margin-left: 40%;
} 
.cim2 {
  margin-left: 25%;
} 
.cim3 {
  margin-left: 45%;
} 
.cim4 {
  margin-left: 25%;
} 
.cim5 {
  margin-left: 40%;
} 
