
.vastag, h3 {
     font-weight: bold;
}

h1 {
     text-align: center;
     padding-top: 2%;
     padding-bottom: 2%;
}

table {
     border-collapse: collapse;
     width: 95%;
     margin-left: 5%;
     margin-bottom: 10%;
   }

.row {
     display: flex;
     margin-left:-5px;
     margin-right:-5px;
   }
   
.festekek {
     flex: 25%;
     padding: 20px;
     
   }
td {
     font-size: 20px;
}

h3 {
     margin-left:  5%;
     margin-top: 5%;
}
h1{
     font-size: 300%;
}

footer {
    
     background-color:#ffffff;
     color:#4b4c4d;
     text-align:center;
     font-size:16px;
     text-decoration:none;
     position: sticky;
     display:inline-block;
     width: 100%;

}

footer a {
     text-decoration: none;
     color: black;
     font-weight: bold;
}

footer a:hover {
     text-decoration: none;
     color: black;
}

footer h5 {
     font-weight: bold;
     text-align: center;
}
