main img{
    height: 200px;
    border: rgb(218, 218, 218) solid 10px;
    border-radius: 50px;
}

h1{
    text-align: center;
}

#cim {
    text-align: center;
    padding-bottom: 1%;
}

@media screen and (max-width: 575px) {
    #cim {
      font-size: 40px;
    }
  }
  
@media screen and (min-width: 576px) {
   #cim {
    font-size: 40px;
    }
}
  
@media screen and (min-width: 768px) {
    #cim {
      font-size: 80px;
    }
}
  
* {
   box-sizing: border-box;
}
  
.column {
    float: left;
    width: 25%;
    padding: 5px;
    margin-bottom: 5%;
    margin-right: 2%;
}
  
.row::after {
    content: "";
    clear: both;
    display: table;
}
  
@media screen and (max-width: 576px) {
    .column {
      width: 70%
    }
}

@media screen and (min-width: 576px) {
    .column {
        width: auto;
    }
}

.row{
    margin-left: 5%;
    margin-top: 40px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: white;
}

main a:hover img{
    height: 180px;
    border: rgb(161, 161, 161) solid 10px;
    border-radius: 50px;
}